@import 'normalize.css';
@import '../font/stylesheet.css';

body {
	background: #111;
}

header {
	display: block;
	margin: auto;
	margin-top: 100px;
	width: 700px;
	height: 300px;
	overflow: hidden;
}

span {
	position: absolute;
	color: #aeaeae;
}

span.first {
	font-family: 'aaarghnormal', sans-serif;
	font-size: 64px;
	font-weight: 100;
	text-transform :uppercase;
	z-index: 100;
}

span.last {
	font-family: 'tondubeta', sans-serif;
	font-size: 160px;
	font-weight: 100;
	text-transform :uppercase;
	margin-top: 28px;
	z-index: 200;
}

span.web {
	font-family: 'aaarghnormal', sans-serif;
	font-size: 18px;
	font-weight: 100;
	text-transform :uppercase;
	transform: rotate(270deg);
		-moz-transform: rotate(270deg);
			-webkit-transform: rotate(270deg);
	margin-top: 22px;
	margin-left: 230px;
	z-index: 300;
}

span.design {
	font-family: 'bebas_neueregular', sans-serif;
	font-size: 38px;
	font-weight: 100;
	text-transform :uppercase;
	letter-spacing: 4px;
	margin-top: 12px;
	margin-left: 270px;
	z-index: 400;
}

div.info {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	clear: both;
}

p, a {
	font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1px;
	display: block;
	color: #aeaeae;
}

p.sub {
	font-family: 'Duru Sans', sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
